#container
{
	margin: 0 auto;
	width: 1100px;
	background: #ECF0F1;
}

#header
{
	background: #ECF0F1;
	padding: 15px;
}

#header h1
{
	 font-size:46px;
	 margin: 0; 
	 font-family: 'Montserrat', sans-serif;
	 color:#E74C3C;
}


img.header1 {width:90px; height:auto; margin-left:20px; margin-bottom:-32px; }
img.header2 {width:100px; height:auto; margin-left:0px; margin-bottom:-32px; }

#navigation
{
	float: left;
	width: 100%;
	background: #7ABCDB;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	font-family: 'Cabin Condensed', sans-serif;
	font-size:24px;
	float: left;
	padding: 5px 10px;
	color: #2C3E50;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #E74C3C; }

#navigation li a.current { background: #E74C3C; }

#content-container
{
	float: left;
	width: 100%;
	background: #ECF0F1;
}

#content
{
	clear: left;
	float: left;
	width: 60%;
	max-width:650px;
	padding: 20px 0;
	margin: 0 0 0 4%;
	display: inline;
}

img.top {width:600px; height:auto; box-shadow:5px 5px 1px #888888; margin-left:10px;}

p 
{
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
}



.image-container {
  position: relative;
  padding-bottom: 66.78082192%; /* ratio of image height to width */
  height: 0;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


.image-container {
  position: relative;
  padding-bottom: 66.650390625%; /* ratio of image height to width */
  height: 0;
  overflow: hidden;
}
 
.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#content h2
{ 
margin: 0; 
font-family: 'Cabin Condensed', sans-serif;
font-size: 28px;
color: #2C3E50;
/*text-indent: -1em;*/
}

#content h3
{ 
margin: 0; 
font-family: 'Montserrat', sans-serif;
color:#E74C3C;
font-size: 18px;
}

#content a
{
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	text-decoration: none;
	color: 	#B53C2F;
}

#content li
{
	list-style: none;
    font-family: 'Open Sans', sans-serif;
	font-size:18px;
}

#content ul
{
	 margin-top: 4px;
	 text-indent: -1em;
}

span.heavy {font-weight:700; color:#E74C3C}

#aside
{
	float: right;
	width: 24%;
	padding: 35px 0;
	margin: 0 6% 0 0;
	display: inline;
}

#aside h3 
{ 
	font-family: 'Cabin Condensed', sans-serif;
	color: #2C3E50;
	margin: 0; 
}

#aside h2
{ 
margin: 0; 
font-family: 'Cabin Condensed', sans-serif;
font-size: 28px;
color: #2C3E50;
text-align: center
/*text-indent: -1em;*/
}

#aside h4
{ 
margin: 0; 
font-family: 'Cabin Condensed', sans-serif;
font-size: 20px;
color: #E74C3C;
text-align: center
/*text-indent: -1em;*/
}

#aside li
{
	list-style: none;
	font-size:24px;
    text-align: left;
}

#aside ul
{
	 margin-top: 15px;
	 text-indent: -1em;
}

#participate
{
	/*margin: 0 auto;*/
	width: 100%;
	background: #7ABCDB;
	padding: 0 px;
}

#participate a
{
	font-family: 'Cabin Condensed', sans-serif;
	font-size: 28px;
	text-decoration:none;
	display:block;
	color: #2C3E50;
	text-align:center;
	padding: 10px;
}

#participate a:hover { background: #E74C3C; }

#footer
{
	clear: left;
	background: #7ABCDB;
	color: #2C3E50;
	font-family: 'Cabin Condensed', sans-serif;
	font-size:24px;
	text-align: left;
	padding: 15px;
	height: 1%;
}

#footer a
{
	text-decoration: none;
	color: 	#B53C2F;
}
